* {
  box-sizing: border-box;
}

.videoMemoModalWholeContainer {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.videomemoModalContainer {
  background: var(--main-color-mustard);
  background: -webkit-linear-gradient(
    to right,
    var(--main-color-mustard),
    var(--main-color-gray)
  );
  background: linear-gradient(
    to right,
    var(--main-color-mustard),
    var(--main-color-gray)
  );
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
}

.videoMemoModalMemoPart {
  flex: 10 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#videoMemoModalMemoBox {
  flex: 1 0 auto;
}

.videoMemoModalMemoTime {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  /* border: 0.1rem solid var(--main-color-yellow);
  border-radius: 1.5rem; */
  color: var(--main-color-black);
  text-shadow: -1px 0 var(--main-color-yellow), 0 1px var(--main-color-yellow),
    1px 0 var(--main-color-yellow), 0 -1px var(--main-color-yellow);
}

.videoMemoModalMemoArea {
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  cursor: text;
  flex: 4 0 auto;
  color: var(--main-color-black);
  font-size: 2rem;
  width: 90%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--main-color-white);
  box-shadow: 4px 4px 8px rgb(85, 85, 85), 0 0 8px var(--main-color-mustard),
    0 0 14px var(--main-color-dark-yellow);
}

.videoMemoModalVideoPart {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoMemoModalVideoBtn {
  background-color: var(--main-color-gray);
  border: 0.1rem solid var(--main-color-yellow);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  color: var(--main-color-yellow);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.videoMemoModalVideoBtn:hover {
  background-color: var(--main-color-yellow);
  color: var(--main-color-gray);
}

.videoMemoModalCloseBtn > i {
  font-size: 2rem;
  color: var(--main-color-gray);
  padding-top: 1.5rem;
  text-shadow: -1px 0 var(--main-color-yellow), 0 1px var(--main-color-yellow),
    1px 0 var(--main-color-yellow), 0 -1px var(--main-color-yellow);
}

.timer {
  width: 5rem;
  height: 3.5rem;
  font-size: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  margin: 0.5rem;
  border: 0.1rem solid var(--main-color-yellow);
  background-color: var(--main-color-white);
  color: var(--main-color-black);
}

.timer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer::-webkit-outer-spin-button {
  -webkit-appearance: block;
  margin: 0;
}

.videoMemoModalMemoTime > span {
  font-size: 3.5rem;
  margin-top: 0.4rem;
}
