.VideoListEntryContainer {
  margin: 1rem;
}

.VideoListEntryThumbnail {
  height: 14rem;
  width: 11rem;
}

.VideoListEntryThumbnail:hover {
  box-shadow: 4px 4px 8px black, 0 0 8px var(--main-color-mustard),
    0 0 14px var(--main-color-dark-yellow);
}

.VideoListEntryTitle {
  margin-left: 0.75rem;
  margin-top: 1rem;
  color: var(--main-color-light-gray);
}
