:root {
  --main-color-white: #e1e1e0;
  --main-color-yellow: #e0ad24;
  --main-color-mustard: #8c7337;
  --main-color-dark-yellow: #51431f;
  --main-color-light-gray: #a2a3a4;
  --main-color-gray: #747576;
  --main-color-dark-gray: #333436;
  --main-color-black: #1e2021;
}

* {
  /* border: 1px solid black; */
  padding: 0rem;
  margin: 0rem;
}

.MyPagemainContainer {
  display: flex;
  flex-direction: column;
}

.MyPageNavBar {
  position: fixed;
  background-color: var(--main-color-black);
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0rem;
}

.MyPageNavLogo {
  width: 12rem;
  background-image: url("https://i.imgur.com/aS8kJC1.png");
  background-size: cover;
  margin: 0.1rem;
}

.MyPageNavLogo:hover,
.MyPageNavLogo:focus {
  cursor: pointer;
}

.MyPageNavUserContainer {
  display: flex;
  padding: 0.2rem;
}

.MyPageNavLogoutContainer {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--main-color-yellow);
  color: var(--main-color-white);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.MyPageNavLogout {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  width: 100%;
}

.MyPageUserInfoContainer {
  display: flex;
  margin-top: 4rem;
  background-color: var(--main-color-dark-gray)
}

.MyPageProfilePic {
  flex: 1 0 auto;
  border-radius: 30rem;
  border: 0.1rem solid var(--main-color-yellow);
  height: 20rem;
  margin-right: 3rem;
  margin-left: 1rem;
}

#MyPageUserInfoBox {
  flex: 30 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--main-color-white);
}

#MyPageUsernameBox {
  flex: 2 0 auto;
  display: flex;
  align-items: baseline;
  align-content: center;
}

#MyPageUsername {
  font-size: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

#MyPageUserEditBtn {
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  border: 0.1rem solid var(--main-color-yellow);
  background-color: var(--main-color-gray);
  color: var(--main-color-yellow);
}

#MyPageUserEditBtn:hover {
  background-color: var(--main-color-yellow);
  color: var(--main-color-gray);
}

#MyPageUseremailBox {
  flex: 1 0 auto;
  font-size: 2rem;
}

#MyPageUseremail {

}

#MyPageUsercountBox {
  flex: 4 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}

.MyPageUsercount {
  flex: 1 0 auto;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.MyPageVideoContainer {
  background-color: var(--main-color-dark-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 0.2rem solid var(--main-color-mustard);
  overflow: auto;
}

.MyPageVideoContainer::-webkit-scrollbar {
  height: 10px;
  transition: 0.2s;
}

.MyPageVideoContainer:hover::-webkit-scrollbar {
  height: 10px;
  transition: 0.2s;
}

.MyPageVideoContainer::-webkit-scrollbar-thumb {
  background-color: var(--main-color-dark-gray);
  border-radius: 5px;
  transition: background-color 0.5s;
}

.MyPageVideoContainer:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-color-gray);
  border: 0.1rem solid var(--main-color-yellow);
  border-radius: 5px;
}

.MyPageVideoContainer::-webkit-scrollbar-track {
  background-color: none;
}

.MyPageVideo {
  height: 14rem;
  width: 11rem;
  background-image: url("https://i.imgur.com/GWWl6sO.png");
  background-size: cover;
  background-position: center;
}

.MyPageVideo:hover {
  box-shadow: 4px 4px 8px black, 0 0 8px var(--main-color-mustard),
    0 0 14px var(--main-color-dark-yellow);
}

#MyPageVideoMemoExtendContainer {
  display: flex;
  justify-content: center;
}

#MyPageVideoMemoExtend {
  background-color: var(--main-color-gray);
  border: 0.1rem solid var(--main-color-yellow);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  color: var(--main-color-yellow);
  margin-top: 2rem;
}

#MyPageVideoMemoExtend:hover {
  background-color: var(--main-color-yellow);
  color: var(--main-color-gray);
}






#myContents {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

#btnContainer {
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.editmodal-content {
  background-color: #facdcd;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  display: flex;
  flex-direction: column;
}

#editImg {
  height: 8rem;
  width: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.editText {
  font-size: 1.5rem;
  display: flex;
}

.editInput {
  margin-left: auto;
  width: 100%;
  font-size: 1rem;
}

#confirmBtnBox {
  font-size: 1rem;
  display: flex;
  height: 3rem;
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
}

#confirm {
  width: 100%;
}

#alert {
  font-size: 2rem;
  text-align: center;
  color: red;
}

#memoBox {
  height: 30rem;
  width: 30rem;
}
